.elasticstack {
	position: relative;
	padding: 0;
	list-style: none;
	-webkit-perspective: 1000px;
	-webkit-perspective-origin: 50% 150%;
	perspective: 1000px;
	perspective-origin: 50% 150%;
}

.elasticstack li {
	position: absolute;
	z-index: 1;
	opacity: 0;
	cursor: pointer;
	-webkit-transform: translate3d(0,0,-180px);
	transform: translate3d(0,0,-180px);
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.elasticstack li.animate {
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.elasticstack li.move-back {
	/* http://matthewlein.com/ceaser/ */
	-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.470, 1); /* older webkit */
	-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.470, 1.515);
	transition-timing-function: cubic-bezier(0.175, 0.885, 0.470, 1.515);
}

.Terms {
	background-color: #e9e9e9;
	bottom: 0;
	height: 100%;
	left: 0;
	opacity: 0;
	overflow: auto;
	padding: 40px 20px;
	position: fixed;
	right: 0;
	top: 100%;
	z-index: 1000001;
	transition: opacity .5s ease, transform .5s ease;
	transform: translateY(40px);
}
	.Terms.show {
		opacity: 1;
		top: 0;
		transform: translateY(0);
	}
	.Terms .close {
		position: absolute;
		top: 10px;
		right: 20px;
		color: #aaaaaa;
		font-size: 24px;
	}

	.Terms .wrapper {
		color: #353535;
		margin: 0 auto;
		max-width: 860px;
		text-align: justify;
	}

	.Terms .wrapper h1 {
	  text-align: center;
	}

	.Terms .wrapper h4 {
	  margin-bottom: 5px;
	  margin-top: 35px;
	}

	.Terms .wrapper p {
	  margin: 0;
	}

	.Terms .wrapper ol {
	  margin-left: 20px;
	}

	.Terms .wrapper li {
	  margin-bottom: 8px;
	}
