.version.index /* version checker */
{
	color: #0000E2;
	background-color: #A6DCF3;
}

.html
{
	background-color: #E9E9E9;
}

#page
{
	z-index: 1;
	width: 862px;
	min-height: 989px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	padding: 60px 49px 20px;
}

#u177-4
{
	z-index: 2;
	width: 395px;
	min-height: 44px;
	background-color: transparent;
	text-align: center;
	font-size: 36px;
	line-height: 43px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	margin-left: 233px;
	position: relative;
}

#u178-8
{
	z-index: 6;
	width: 862px;
	min-height: 76px;
	background-color: transparent;
	text-align: center;
	font-size: 16px;
	line-height: 19px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-top: 12px;
	position: relative;
}

#u178
{
	color: #A7A7A7;
}

#u178-5
{
	color: #3D91E6;
}

#u178-3
{
	text-decoration: none;
}

#u179-4
{
	z-index: 14;
	width: 168px;
	min-height: 30px;
	background-color: transparent;
	color: #3D91E6;
	text-align: center;
	font-size: 20px;
	line-height: 24px;
	font-weight: bold;
	margin-left: 347px;
	margin-top: 38px;
	position: relative;
}

#pu181
{
	width: 0.01px;
	margin-left: 331px;
	margin-top: 18px;
}

#u181
{
	z-index: 22;
	width: 200px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u183
{
	z-index: 24;
	width: 184px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 190px;
	left: 7px;
}

#u180-4
{
	z-index: 18;
	width: 168px;
	min-height: 30px;
	background-color: transparent;
	color: #3D91E6;
	text-align: center;
	font-size: 20px;
	line-height: 24px;
	font-weight: bold;
	margin-left: 347px;
	margin-top: 18px;
	position: relative;
}

#ppu185
{
	width: 0.01px;
	margin-left: 129px;
	margin-top: 27px;
}

#pu185
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 209px;
}

#u185
{
	z-index: 26;
	width: 185px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u193
{
	z-index: 34;
	width: 169px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 80px;
	left: 7px;
}

#u198-4
{
	z-index: 42;
	width: 169px;
	min-height: 17px;
	background-color: transparent;
	text-align: center;
	font-size: 12px;
	line-height: 14px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 47px;
	left: 8px;
}

#u208
{
	z-index: 64;
	width: 30px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 90px;
	left: 73px;
}

#u214
{
	z-index: 70;
	width: 30px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 90px;
	left: 131px;
}

#u474
{
	z-index: 100;
	width: 30px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 90px;
	left: 22px;
}

#u187
{
	z-index: 28;
	width: 185px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u189
{
	z-index: 30;
	width: 185px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 419px;
}

#u191
{
	z-index: 32;
	width: 169px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 80px;
	left: 7px;
}

#u195
{
	z-index: 36;
	width: 169px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 80px;
	left: 426px;
}

#u197-4
{
	z-index: 38;
	width: 169px;
	min-height: 17px;
	background-color: transparent;
	text-align: center;
	font-size: 12px;
	line-height: 14px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 47px;
	left: 7px;
}

#u199-4
{
	z-index: 46;
	width: 169px;
	min-height: 17px;
	background-color: transparent;
	text-align: center;
	font-size: 12px;
	line-height: 14px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 47px;
	left: 426px;
}

#u206
{
	z-index: 62;
	width: 30px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 90px;
	left: 77px;
}

#u210
{
	z-index: 66;
	width: 30px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 90px;
	left: 497px;
}

#u212
{
	z-index: 68;
	width: 30px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 90px;
	left: 132px;
}

#u216
{
	z-index: 72;
	width: 30px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 90px;
	left: 549px;
}

#u471
{
	z-index: 98;
	width: 30px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 90px;
	left: 21px;
}

#u477
{
	z-index: 102;
	width: 30px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 90px;
	left: 445px;
}

#u200-4
{
	z-index: 50;
	width: 299px;
	min-height: 30px;
	background-color: transparent;
	color: #3D91E6;
	text-align: center;
	font-size: 20px;
	line-height: 24px;
	font-weight: bold;
	margin-left: 280px;
	margin-top: 27px;
	position: relative;
}

#pu201
{
	width: 0.01px;
	margin-left: 187px;
	margin-top: 28px;
}

#u201
{
	z-index: 54;
	width: 485px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u203-4
{
	z-index: 56;
	width: 447px;
	min-height: 75px;
	background-color: transparent;
	text-align: justify;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
	left: 17px;
}

#u204
{
	z-index: 60;
	width: 469px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 131px;
	left: 7px;
}

#u397
{
	z-index: 74;
	width: 30px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 140px;
	left: 63px;
}

#u403
{
	z-index: 76;
	width: 30px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 140px;
	left: 109px;
}

#u406
{
	z-index: 78;
	width: 30px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 140px;
	left: 155px;
}

#u411
{
	z-index: 80;
	width: 30px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 140px;
	left: 17px;
}

#u416
{
	z-index: 82;
	width: 30px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 140px;
	left: 200px;
}

#u421
{
	z-index: 84;
	width: 30px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 140px;
	left: 246px;
}

#u426
{
	z-index: 86;
	width: 30px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 140px;
	left: 338px;
}

#u431
{
	z-index: 88;
	width: 30px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 140px;
	left: 292px;
}

#u436
{
	z-index: 90;
	width: 30px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 140px;
	left: 384px;
}

#u449
{
	z-index: 92;
	width: 30px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 180px;
	left: 19px;
}

#u455
{
	z-index: 94;
	width: 30px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 180px;
	left: 65px;
}

#u461
{
	z-index: 96;
	width: 30px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 140px;
	left: 429px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 39px;
}

