.version.index /* version checker */
{
	color: #0000F5;
	background-color: #6F2DB0;
}

.html
{
	background-color: #E9E9E9;
}

#page
{
	z-index: 1;
	width: 862px;
	min-height: 375.64999999999986px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	padding: 62px 49px 62.350000000000136px;
}

#u75-4
{
	z-index: 2;
	width: 395px;
	min-height: 44px;
	background-color: transparent;
	text-align: center;
	font-size: 36px;
	line-height: 43px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	margin-left: 233px;
	position: relative;
}

#u76-79
{
	z-index: 6;
	width: 862px;
	min-height: 76px;
	background-color: transparent;
	text-align: left;
	font-size: 16px;
	line-height: 19px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-top: 12px;
	position: relative;
}

#u76-2,#u76-7,#u76-24,#u76-29,#u76-34,#u76-39,#u76-44,#u76-49,#u76-54,#u76-74
{
	font-weight: bold;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

