body {
  background-color: #E9E9E9;
  font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
  padding: 10px;
}

.content {
  margin: 0 auto;
  max-width: 860px;
  text-align: justify;
}

h1 {
  text-align: center;
}

h4 {
  margin-bottom: 5px;
  margin-top: 35px;
}

p {
  margin: 0;
}

li {
  margin-bottom: 8px;
}
